.banner{
    margin-top: 60px;
    position: relative;
    @media (max-width: 1024px) {
        margin-top: 0px;
    }
    .img-bg{
        background-size: cover;
        background-position: center center;
        min-height: 500px;
        @media (max-width: 768px) {
            .img-bg{
              min-height: 300px;
            }
        }
        .content{
            color: black;
            position:relative;
            top: 100px;
            left: 30px;
            letter-spacing: 3px;
            @media (max-width: 768px) {
                .content{
                  display: none;
                }
            
            }
            @media (max-width: 1024px) {
                .content{
                  top: 90px;
                  left: 40px;
                }
            }
        }
    }
}