@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

#app {
  font-family: 'Zen Kurenaido', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  a{
    text-decoration:none;
  }
}