.products {
  list-style: none;
}
.nav {
  &-left {
    position: relative;
    @media only screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
    & ul {
      background: #f8f1e7;
      padding: 0;
      margin: 0;
      text-align: center;
      border-radius: 5px;
      @media only screen and (max-width: 992px) {
        max-height: 0;
        overflow: hidden;
        &.open {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 12px;
          max-height: 1000px;
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          z-index: 9;
          &:hover{
            background: #f7dfbf;
          }
        }
      }
      & li {
        list-style: none;
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        &:hover {
          background: #f7dfbf;
        }
      }
    }
    & div {
      list-style: none;
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      @media only screen and (max-width: 992px) {
        color: #fff;
      }
    }
  }
  &-tar {
    background: #7c9782;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    @media only screen and (max-width: 992px) {
      border-bottom: 0;
      color: black;
      cursor: pointer;
    }
    & span {
      display: none;
      @media only screen and (max-width: 992px) {
        display: block;
        position: absolute;
        right: 20px;
      }
    }
  }
}
.product {
  transition: all 0.3s ease;
  padding: 10px 10px 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    .image {
      transform: scale(0.95);
    }
  }
  &-title {
    font-size: 25px;
    font-weight: bold;
    @media only screen and (max-width: 600px) {
      font-size: 18px;
    }
  }
  &-price-1 {
    font-size: 2rem;
    margin-bottom: 8px;
    margin-top: 34px;
  }
  &-price-2 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
  .productsFooter{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 1px solid #dee2e6;
    .btn-products{
      width: 70%;
      color: #fff;
      background-color: #282f2f;
      border-color: #262c2c;
      border-radius: 10px;
      &:hover{
        background-color: #669999;
        color: white;
        border-color: #669999;
      }
    }
    .btn-products2{
      width: 20%;
      font-size: 20px;
      text-align: center;
      border-radius: 40%;
      &:hover{
        background-color: #669999;
        color: white;
        border-color: #669999;
      }
    }
    @media (max-width: 991px) {
      .btn-products{
        font-size: 15px
      }
    }
  }
}
del.product-price-2 {
  font-size: 15px;
  display: block;
  margin: 8px 0 0;
}