.title{
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 2rem 0 1.2rem;
  border-bottom: #939699;
  border-bottom-style: dotted;
  color: $dark;
}
.service-container{
  display:flex;
  justify-content: space-evenly;
  padding: 20px 0;

  .service-box{
    text-align: center;
    width: 25%;
    img{
      height: 50px;
    }
    h3{
      font-size: 1.4rem;
      margin:1rem 0;
      color:$dark;
    }
    &:hover h3{
      color:#939699;
    }
  }
}