.service{
  display: flex;
  align-items: center;
  gap:1.5rem;
  .image{
    flex:1 1 70rem;
    height: 400px;
    width: 40%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    @media (max-width: 991px) {
      height: 400px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
  .content{
    display: flex;
    flex-direction: column;
    width: 60%;
    @media (max-width: 991px) {
      flex-direction: column;
      width: 100%;
      .text{
        text-align: center;
      }
    }
    .text{
      font-size: 2rem;
      margin-right: 40px;
      min-width: 186px;
      h3{
        font-weight: bold;
        color: #7c9782;
      }
      // for boarding
      .tab{
        list-style: none;
        font-weight: bold;
        color: rgb(88, 87, 87);
        display: flex;
        justify-content: space-around;
        li{
          margin-left: 10px;
          input{
            margin-right: 5px;
          }
        }
        // @media (max-width: 991px) {
        //   display: flex;
        //   justify-content: space-around;
        // }
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      @media (max-width: 420px) {
        margin: 0 auto;
        .tab {
          padding-left: 0px
        }
      }
    }
    .text2{
      height: 470px;
      min-width: 600px;
      border: 5px #F0F0F0 solid;
      border-radius: 10px;
      padding: 20px;
      overflow:scroll;
      h2{
      font-weight: bold;
      color: #a9caaf;
      }
      ul{
        li{
        color: black;
        font-size: 1.2rem;
        line-height: 1;
        padding:1rem 0;
        }
      }
      span{
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
        color: #429968;
      }
      .btn{
        margin-top: 0.5rem;
        border: 0.2rem solid #a9caaf;
        color: #10221b;
        cursor: pointer;
        background: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        &:hover {
          border: 0.2rem solid #3e8369;
          background: #3e8369;
          color: #fff;
        }
      }
      @media (max-width: 991px) {
        margin-top: 10px;
        h2 {
          font-size: 25px;
        }
      }
      @media (max-width: 768px) {
        min-width: 300px;
      }
    }
  }
}