.introduce{
  margin-top: 80px;
  background:url(https://upload.cc/i1/2021/12/16/aqwsYE.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align:center;
  padding: 11rem 10rem;
  .text{
    margin-right: 150px;
    margin-top: -40px;
  }
  h1{
    color: black;
    font-size: 4rem;
  }
  p{
    padding-top: 1rem;
    font-size: 2rem;
    color:#333;
  }
}
.title{
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding:1.2rem 0;
  border-bottom: #939699;
  border-bottom-style: dotted;
  color:black;
  span{
    color:green;
    padding-left: .7rem;
  }
}
.service-container{
  display:flex;
  justify-content: space-evenly;
  padding: 20px 0;

  .serviceBox{
    text-align: center;
    img{
      height: 50px;
    }
    h3{
      font-size: 1.4rem;
      margin:1rem 0;
      color:#333;
    }
    &:hover h3{
      color:green;
    }
  }
}