.introduce{
  margin-top: 70px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://upload.cc/i1/2021/12/16/aqwsYE.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  @media (max-width: 1024px) {
    height: 300px;
  }
  .introduce-text{
    margin-top: -40px;
    text-align: center;
    h1{
      color: black;
      font-size: 4rem;
    }
    p{
      padding-top: 1rem;
      font-size: 2rem;
      color:#333;
    }
    @media (max-width: 1024px) {
      h1{
        font-size: 2.5rem;
      }
      p{
        font-size: 1.5rem;
      }
    }
    @media (max-width: 768px) {
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 0.9rem;
      }
    }
  }
}
.title{
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding:1.2rem 0;
  border-bottom: #939699;
  border-bottom-style: dotted;
  color:black;
  span{
    color:green;
    padding-left: .7rem;
  }
}
.service-container{
  display:flex;
  justify-content: space-evenly;
  padding: 20px 0;

  .serviceBox{
    text-align: center;
    img{
      height: 50px;
    }
    h3{
      font-size: 1.4rem;
      margin:1rem 0;
      color:#333;
    }
    &:hover h3{
      color:green;
    }
  }
}